@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
#root {
  font-family: "Poppins", sans-serif;
  @media screen and (max-width: 960px) and (orientation: portrait) {
    height: 100vh;
  }
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes run {
  0% {
    left: -90px;
    color: #61dbfb;
  }
  50% {
    color: #ade8f7;
  }
  100% {
    left: 90px;
    color: #61dbfb;
  }
}

.DateRangePicker__Month {
  width: 220px;
  height: 276px;
}

.PhoneInputInput {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  border: none;
  padding: 2px 10px;
  font-size: 18px;
  color: #7e98b2;

  &:focus {
    outline: none;
    border: none;
  }
}

.tooltipRect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;
  z-index: 1;
}

.tooltip {
  position: absolute;
  padding: 10px;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: none;
  opacity: 0.75;
}
