@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700;800&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  font-family: "Poppins", sans-serif;
  @media screen and (max-width: 960px) and (orientation: portrait) {
    height: 100vh;
  }
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
